@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
